@font-face {
	font-family: "MaisonNeue";
	src: url('fonts/MaisonNeueWEB-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MaisonNeueBook";
	src: url('fonts/MaisonNeueWEB-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #FEFEFE;
	max-width: 1440px;
	margin: auto;
	font-family: "MaisonNeue";
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 30px;
}

/* top */

.logo {
	width: 40%;
	float: left;
	margin-left: 7.5%; 
	margin-top: 25px;
	font-family: "MaisonNeueBook";
}

.title {
	width: 40%;
	float: left;
	margin-top: -20px;
	color: #9d9d9d;
	margin-left: 7.5%; 
}

/* nav */

ul {
	list-style-type: none;
	font-family: "MaisonNeue";
	font-size: 16px;
	margin-left: 5%;
	margin-top: 25px;
	padding: 0;
	text-decoration: none;
	float: left;
}

li {
	display: inline;
	margin-right: 20px;
}

li a {
	text-decoration: none;
	color: #9d9d9d;
	font-family: "MaisonNeue";
	font-size: 16px;
	transition: all 300ms ease-in-out;
}

li a.active {
	color: #292929;
}

li a:hover:not(.active) {
	color: #292929;
}

div.left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

div.left li {
    display: block;
    line-height: 32px;
    margin-top: -5px;
    color: #9d9d9d;
}

.back a {
	margin-left: 7.5%;
	text-decoration: none;
	color: #9d9d9d;
	transition: all 300ms ease-in-out;
}

.back a:visited {
	color: #9d9d9d
}

.back a:hover {
	color: #292929;
}
/* grid */

#main {
	padding-top: 110px;
	padding-bottom: 50px;
}

div.left {
	width: 40%;
	margin: 2.5% 2.5% 2.5% 7.5%;
	float: left;
}

div.right {
	width: 40%;
	margin: 2.5% 7.5% 2.5% 2.5%;
	float: right;
}

div.left img {
    width: 100%;
    height: auto;
}

div.right img {
    width: 100%;
    height: auto;
}

div.image img {
	width: 85%;
	margin: 2.5% 7.5% 2.5% 7.5%;
	height: auto;
}

span {
	font-family: "MaisonNeueBook";
	color: #292929;
}

/*Chrome, Safari*/

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: none
	}
}

/*Standard syntax*/

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: none
	}
}

/*Chrome, Safari*/

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Standard syntax*/

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	animation-duration: 0.5s;
	transition-timing-function: ease-in;
	animation-name: fadeInUp;
}

header {
	animation-duration: 0.5s;
	transition-timing-function: ease-in;
	animation-name: fadeIn;
}

.wrapper {
	background-color: #FEFEFE;
	transition: background-color ease-in-out 0.8s;
}

.wrapper.home {
	background-color: #FEFEFE;
}

.wrapper.about {
	background-color: #161616;
}


/* responsive 768px */

@media all and (min-width : 320px) and (max-width : 768px) {
    #main {
	padding-top: 140px;
	}	

    #nav ul {
        text-align: left;
        float: right;
        padding-right: 5%;
    }
   	div.left li {
    	display: inline;
    }
    div.left {
        margin: 0 auto;
        width: 85%;
        padding: 5% 0% 2% 7.5%;
    }
    .left p {
    	margin-top: 0px;
    }
    div.right {
    	margin: 0 auto;
        width: 85%;
        padding: 0% 7.5% 5% 7.5%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	body {
	font-size: 40px;
	letter-spacing: 0.5px;
	line-height: 70px;
	}
	ul {
		font-size: 36px;
	}
	.logo {
		margin-top: 65px;
		width: 49%;
	}

	.title {
		margin-top: -41px;
		width: 100%;
    }
	
    li a {
	font-size: 40px;
	float: left;
	display: inline;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 40px;
	}
	
	div.left {
		width: 92.5%;
		margin: 7.5%;
	}

	div.left li {
		display: block;
		line-height: 70px;
    }

    div.right {
		width: 92.5%;
		margin: 7.5%;
		float: none;
	}

    div.right img {
    	margin: 7.5%;
    }

    div.right p {
        font-size: 15px;
	}

	div.back a {
		font-size: 15px;
	}

	.image img {
		width: 92.5%;
		margin: 7.5%;
	}
}
