@font-face {
	font-family: "MaisonNeue";
	src: url('fonts/MaisonNeueWEB-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #161616;
	max-width: 1440px;
	margin: auto;
	font-family: "MaisonNeue";
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #AAAAAA;
}

/* top */

h1 {
	font-size: 16px;
	width: 40%;
	float: left;
	margin-left: 7.5%; 
	margin-top: 5%;
	font-family: "MaisonNeue";
	color: #FFFFFF;
	line-height: 16px;
}

h2 {
	font-size: 16px;
	width: 40%;
	margin-bottom: 24px;
	color: #9d9d9d;
	margin-left: 7.5%; 
}

li {
	display: inline;
	margin-right: 20px;
}

li a {
	text-decoration: none;
}

/* grid */

div.left {
	width: 40%;
	margin: 0% 2.5% 2.5% 7.5%;
	float: left;
}

div.left p {
	line-height: 28px
}

p a {
	text-decoration: none;
	color: #FFFFFF;
}

p a:hover {
	color: #aaaaaa;
	transition: all 200ms ease-out;
}

.span {
	color: #AAAAAA;
	margin-top: 0px;
	margin-bottom: 5px;
}

div.left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.left li a {
    display: block;
    line-height: 15px;
    margin-top: -5px;
    color: #FFFFFF;
}

.left li a:hover {
	color: #aaaaaa;
	transition: all 200ms ease-out;
}

img {
	display: none;
}

.show a:hover img {
    display: inline-block;
    position: fixed;
    left: 55%;
    bottom: 15%;
    width: 30vw;
    height: auto;
    }

/* Animations */

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: none
	}
}

/*Standard syntax*/

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: none
	}
}

/*Chrome, Safari*/

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Standard syntax*/

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.left {
	animation-duration: 0.8s;
	transition-timing-function: ease-in;
	animation-name: fadeInUp;
}

header {
	animation-duration: 0.8s;
	transition-timing-function: ease-in;
	animation-name: fadeIn;
}

/*.wrapper {
	background-color: #FEFEFE;
	transition: background-color ease-in-out 0.8s;
}

.wrapper.home {
	background-color: #FEFEFE;
}

.wrapper.about {
	background-color: #161616;
}*/

/* responsive 768px */

@media all and (max-width : 768px) {
    div.left {
        margin: 0 auto;
        width: 85%;
        padding: 0% 7.5% 7.5% 7.5%;
    }
}

/* mobile */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	h1 {
		font-weight: normal;
		font-size: 45px;
		width: 100%;
		margin-top: 10%;
		margin-bottom: 0.5%;
	}

	h2 {
		font-weight: normal;
		font-size: 45px;
		width: 100%;
		float: left;
		margin-bottom: 5%;
    }
	
	p {
		font-size: 45px;
	}

    li a {
		font-size: 40px;
		float: left;
		display: inline;
		padding-right: 30px;
		padding-left: 30px;
		margin-top: 47px;
	}

    div.left {
        margin: 0 auto;
        width: 92.5%;
        padding: 1% 7.5% 7.5% 7.5%;
    }

	div.left p {
		line-height: 80px;
	}

	div.left ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	margin-top: 10px;
	}	 

	.left li a {
		display: block;
    	line-height: 70px;
    	margin-top: -5px;
    	float: none;
    	font-size: 45px;
    	padding: 0px;
	}

	.span {
		margin-bottom: 25px;
		margin-top: 0px;
	}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	h1 {
		font-weight: normal;
		font-size: 45px;
		width: 100%;
		margin-top: 10%;
		margin-bottom: 0.5%;
	}

	h2 {
		font-weight: normal;
		font-size: 45px;
		width: 100%;
		float: left;
		margin-bottom: 5%;
    }
	
	p {
		font-size: 45px;
	}

    li a {
		font-size: 40px;
		float: left;
		display: inline;
		padding-right: 30px;
		padding-left: 30px;
		margin-top: 47px;
	}

    div.left {
        margin: 0 auto;
        width: 92.5%;
        padding: 1% 7.5% 7.5% 7.5%;
    }

	div.left p {
		line-height: 80px;
	}

	div.left ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	margin-top: 10px;
	}	 

	.left li a {
		display: block;
    	line-height: 70px;
    	margin-top: -5px;
    	float: none;
    	font-size: 45px;
    	padding: 0px;
	}

	.span {
		margin-bottom: 25px;
		margin-top: 0px;
	}
}
